@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');


h1{
    margin: 2px;
    border: 1;
    padding: 50px;
    font-size: 50px;
    font-weight: 900;
    text-align:center;
    font-family: 'Nanum Gothic Coding', monospace; 
}

.content{
    height: 1600px;
    display: flex;
    font-family: 'Nanum Gothic Coding', monospace; 
}
nav{
    width:25%;
    padding-top: 30px;
    float:left;
    font-size: 17px;
    font-weight: 700;
    height: 100%;
    flex: 25%;   
}
nav ol{
    line-height: 30px;
}
section{
    padding-left: 30px;
    font-weight: 700;
    padding-top: 40px;
    height: 100%;
    flex: 75%;
    line-height: 20px;
}
section h2{
    font-size: 30px;
}
.trailer h3{
    font-size: 19px;
    font-weight: 700;
}
section h4{
    font-size: 19px;
}

